<!--<div style="display: flex; justify-content: center; align-items: center;">-->
  <!--<div>-->
    <!--<p style="font-size: 30px">Hello, I'm <span class="highlight">Timi.</span> I'm a Full Stack Developer</p>-->
    <!--<button type="button" class="btn btn-outline-primary" href="middle">View my work</button>-->
  <!--</div>-->
<!--</div>-->
<section style="display: flex; position: relative; height: 100vh">
  <div class="element">
    <p class="animation-target" style="font-size: 30px; text-align: center">Hello, I'm <span class="highlight">Timi.</span> I'm a Full Stack Developer</p>
    <div style="text-align: center">
      <button type="button" class="btn btn-outline-primary" onClick="document.getElementById('middle').scrollIntoView();">View my Skills</button>
      <button type="button" class="btn btn-outline-primary" onclick="window.open(' https://drive.google.com/file/d/13RCPAW_Ej22_VmB0YGi1AS4HPZRlJ8C5/view?usp=sharing', '_blank')">View my Resume</button>
    </div>
  </div>
</section>

<section id="middle" style="height: 100vh">
  <app-nav></app-nav>
  <div style="text-align: center; margin-top: 3vh">
    <p style="font-size: 30px">SKILLS</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div style="margin: 5vw; text-align: center; width: 250px">
      <img src="../../assets/timi.jpg" style="border-radius: 50%; height: 250px; width: 250px">
      <p>I am a Software Developer who specializes in all areas of Application Development
      such as <span class="highlight">web, mobile, desktop and console</span>. I am well versed in deploying cloud services such
      as Google Cloud Platform.</p>
    </div>
    <div>
      <div class="progress-wrapper" style="margin-right: auto; width: 100%;">
        <div class="progress-info">
          <div class="progress-label">
            <span>Java</span>
          </div>
          <div class="progress-percentage">
            <span>Workplace and Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>Python</span>
          </div>
          <div class="progress-percentage">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>Angular</span>
          </div>
          <div class="progress-percentage">
            <span>Workplace and Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Android</span>
          </div>
          <div class="progress-percentage" style="margin-right: auto; width: 100%;">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Firebase</span>
          </div>
          <div class="progress-percentage" style="margin-right: auto; width: 100%;">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>Angular</span>
          </div>
          <div class="progress-percentage">
            <span>Workplace and Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>React</span>
          </div>
          <div class="progress-percentage">
            <span>Workplace Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>NodeJS (Express)</span>
          </div>
          <div class="progress-percentage">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label" style="margin-right: auto; width: 100%;">
            <span>SwiftUI and iOS Development</span>
          </div>
          <div class="progress-percentage">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
      <div class="progress-wrapper" style="margin-right: auto; width: 100%;">
        <div class="progress-info">
          <div class="progress-label">
            <span>Flask</span>
          </div>
          <div class="progress-percentage">
            <span>Project Experience</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <button type="button" class="btn btn-outline-primary" onclick="window.open('https://www.github.com/bamboozooled', '_blank')">View my projects</button>
  </div>
</section>
