<!--<div style="display: flex; justify-content: center; align-items: center;">-->
  <!--<div>-->
    <!--<p style="font-size: 30px">Hello, I'm <span class="highlight">Timi.</span> I'm a Full Stack Developer</p>-->
    <!--<button type="button" class="btn btn-outline-primary" href="middle">View my work</button>-->
  <!--</div>-->
<!--</div>-->
<section style="display: flex; position: relative; height: 100vh">
  <div class="element">
    <p class="animation-target" style="font-size: 30px; text-align: center">Hello, I'm <span class="highlight">Timi.</span> I'm a Full Stack Developer</p>
    <div style="text-align: center">
      <button type="button" class="btn btn-outline-primary" href="middle">View my work</button>
    </div>
  </div>
</section>

<section id="middle" style="height: 100vh">
  <app-nav></app-nav>
  <div style="text-align: center; margin-top: 3vh">
    <p style="font-size: 30px">SKILLS</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div style="margin: 5vw; text-align: center; width: 250px">
      <img src="../../assets/timi.jpg" style="border-radius: 50%; height: 250px; width: 250px">
      <p>I am a Software Developer who specializes in all areas of Application Development
      such as <span class="highlight">web, mobile, desktop and console</span>. I am well versed in deploying cloud services such
      as Google Cloud Platform.</p>
    </div>
    <div>
      <div class="progress-wrapper" style="width: 300px">
        <div class="progress-info">
          <div class="progress-label">
            <span>Java</span>
          </div>
          <div class="progress-percentage">
            <span>90%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-default" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Python</span>
          </div>
          <div class="progress-percentage">
            <span>85%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Android</span>
          </div>
          <div class="progress-percentage">
            <span>80%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Firebase</span>
          </div>
          <div class="progress-percentage">
            <span>80%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>Angular</span>
          </div>
          <div class="progress-percentage">
            <span>75%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
        </div>
      </div>
      <div class="progress-wrapper">
        <div class="progress-info">
          <div class="progress-label">
            <span>NodeJS (Express)</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
        </div>
      </div>
      <div class="progress-wrapper" style="width: 100%">
        <div class="progress-info">
          <div class="progress-label">
            <span>Flask</span>
          </div>
          <div class="progress-percentage">
            <span>60%</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="center center" style="margin-top: 8vh">
    <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
      <li class="nav-item">
        <a class="nav-link rounded-circle active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab" aria-controls="home" aria-selected="true">
          <span class="nav-link-icon d-block"><i class="ni ni-bold-down" style="font-size: 15px"></i></span>
        </a>
      </li>
    </ul>
  </div>
</section>
<section id="work" style="height: 100vh">
  <div style="text-align: center; margin-top: 3vh">
    <p style="font-size: 30px">WORK</p>
  </div>

</section>
